@import './vendor/nprogress.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-icon > svg {
        @apply h-4 w-4;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* Revert text color */
    -webkit-text-fill-color: unset !important;
    color: unset !important;
    caret-color: unset !important;

    /* Revert background color */
    transition: background-color 5000s ease-in-out 0s;
}
